<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="../css/main.style.css">
</head>
<body>
    <header>
        <a href="">
            <img src="../img/logo.png" alt="logo">
        </a>
    </header>
    <main>
        <section class="menu">
            <div class="menu-top">
                <i class="fa-solid fa-user"></i>
                <h1>Naam</h1>
                <nav>
                    <a href="toetsen.php">Toetsen</a>
                    <a href="resultaat.overzicht.php">Resultaat overzicht</a>
                </nav>
            </div>
            <div class="menu-bottom">
                <a href="../php/loguit.verwerk.php">Loguit</a>
            </div>
        </section>
        <section class="content">
            <div class="toetsen">
                <table>
                    <thead>
                        <th>Naam</th>
                        <th>Onderwerp</th>
                        <th>Vragen</th>
                        <th></th>
                    </thead>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>15 vragen</td>
                        <td><a href="">Maak toets</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <p>© 2022 Kaylan de Groot</p>
    </footer>
</body>
<script src="https://kit.fontawesome.com/ab1ca9801d.js" crossorigin="anonymous"></script>
</html>